<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocumentHelper" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49777/DocumentHelper.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentHelper"
                contract="DocumentService.IDocumentHelper" name="BasicHttpBinding_IDocumentHelper" />
        </client>
    </system.serviceModel>
</configuration>