<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="WS_LogsEntities" connectionString="metadata=res://*/WS_Logs.csdl|res://*/WS_Logs.ssdl|res://*/WS_Logs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAKET;initial catalog=WS_Logs;user id=sa;password=Mind1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>