<header class="tmplt-hb-header" style="background-color:black;height:50px;width:100%;margin:0px;padding:0px;">
    <div class="tmplt-hb-logo" style="border:1px; float:left;width:30px;height:100%;background-image:url('../img/logo.png');background-size:25px;background-repeat:no-repeat;background-position:center;">
    </div>
    <div class="tmplt-hb-name" style="float:left;color:white;font-size:large;padding-top:12px;"><span style="font-size:xx-large;font-family:Algerian;">WS</span>Market</div>
    <div class="tmplt-hb-settings" style="float:right; width:40px;height:100%;background-image:url('../img/settings.png');background-size:30px;background-repeat:no-repeat;background-position:center;"></div>
            

</header>
