<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="nlog.log" internalLogLevel="Trace" >
	<!--autoReload="true">-->

	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
  
	<targets async="true">

	<target name="file" xsi:type="File" fileName="${basedir}/logs/${date:format=dd-MM-yyyy}_trace.txt"
        layout="${date:format=dd-MM-yyyy}|${date:format=HH\:mm\:ss}|${level}|${message}" />
  </targets>

	<rules>
		<!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />  
	</rules>

</nlog>